@import "../../node_modules/bootstrap/scss/functions";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Macondo&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// 2 add overrides here like primary color etc.
$primary: #3a2620;
$secondary: #aa9581;
$highlight: #416a8e;
$highlight-light: #7a9fc2;
// 3. Import ALL of Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

// 4. Bootstrap Icons
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";

// 5. now add your custom styling here
body {
  font-family: "Inter", sans-serif;
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Macondo", cursive;
    color: $primary;
  }
}
// .container,
// .row {
//   border: 2px solid black;
// }
// .col-12 {
//   border: 2px solid white;
//   background-color: lightgrey;
// }
